.section {
    width: 500px;
    padding: 15px 15px 70px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.pic_background {
    padding: 100px;
    margin: auto;
    cursor: pointer;
    border-radius: 50px;
}
.pic_background_bold {
    padding: 100px;
    margin: auto;
    border-radius: 50px;
    cursor: pointer;
    background-color: #5f5ffb;
}
.border_thin {
    border: 6px solid black;
}