.section {
    width: 500px;
    padding: 15px 15px 70px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.btns_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn {
    padding: 10px;
    min-width: 40px;
    height: 40px;
    text-align: center;
    margin: 0px 2px;
    background:  #8a8aff;
    border: none;
    color: white;
}
.btn:hover {
    background:  #5f5ffb;
}
.counter_input {
    font-size: 14px;
    font-family: "DM_Sans";
    padding: 10px;
    border: none;
    background: white;
    height: 30px;
    margin-left: 20px;
}
.input_color {
    font-size: 16px;
    font-family: "DM_Sans";
    padding: 10px;
    border: none;
    background:#e9ecef;
    height: 50px;
    margin-left: 10px;
}
input {outline: none;}
.inputs_wrapper {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
}
.label_for_input {
    font-size: 18px;
    font-family: "DM_Sans";
}