.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 15px 15px 50px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 38px;
}
.tab {
    font-family: "DM_Sans";
    border: none;
    background: white;
    padding: 6px 14px;
    font-size: 16px;
}
.active {
    font-family: "DM_Sans";
    border: none;
    background: #8a8aff;
    padding: 6px 14px;
    font-size: 16px;
    color: white;
}
.container {
    width: 100%;
}