.section {
    width: 500px;
    padding: 15px 15px 70px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.p_color {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: "DM_Sans";
}
.label_for_input {
    font-size: 18px;
    font-family: "DM_Sans";
}
.input_color {
    font-size: 16px;
    font-family: "DM_Sans";
    padding: 10px;
    border: none;
    background:#e9ecef;
    height: 50px;
    margin-left: 10px;
}

input {outline: none;}