.btn {
    width: 28px;
    height: 20px;
    text-align: center;
    margin: 0px 2px;
    background:  #8a8aff;
    border: none;
    color: white;
}
.btn_wrapper {
    margin-left: 7px;
}
.btn:hover {
    background:  #5f5ffb;
}