.section {
    width: 500px;
    padding: 15px 15px 70px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.nav_box {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-family: "DM_Sans";
    font-size: 15px;
    margin-bottom: 40px;
}
.nav_btn {
    border: none;
    cursor: pointer;
    margin: 2px 5px;
    min-height: 30px;
    min-width: 50px;
    padding: 5px;
    text-align: center;
    font-family: "DM_Sans";
}
.nav_btn:hover {
    background:  #5f5ffb;
    color: white;
}
.articles_box {
    font-family: "DM_Sans";
    width: 300px;
}
.article_header {
    margin: 10px 0 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
}
.article_text {
    font-family: "DM_Sans";
    margin-bottom: 25px;
}