.sub_title {
    font-weight: 700;
    text-align: center;
    font-family: "DM_Sans";
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 20px;

 }
 .jun_section {
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }