.section {
    width: 500px;
    padding: 15px 15px 70px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.task_btn {
    border: none;
    cursor: pointer;
    margin: 15px 5px;
    min-height: 30px;
    min-width: 50px;
    padding: 5px 10px;
    text-align: center;
    font-family: "DM_Sans";
}
.task_btn:hover {
    background:  #5f5ffb;
    color: white;
}
.input_color {
    background-color: #e9ecef;
    font-family: "DM_Sans";
    border: none;
    color: #212529;
    height: 40px;
    margin: 5px 10px;
    padding: 5px;
    text-align: left;
    width: 170px;
}
.label {
    font-family: "DM_Sans";
    padding: 10px;
}
.welcome {
    font-family: "DM_Sans";
}
.checkbox {
    margin: 5px;
}